Import Packages

In [273]:
import random
import numpy as np
import pandas as pd

How many Number of records want to generate

In [274]:
num_records = 1000

Generate transaction id

In [275]:
import string
def gen_trans_id(length=12):
    characters = string.ascii_letters + string.digits
    transaction_id = ''.join(random.choice(characters) for _ in range(length))
    return transaction_id

In [276]:
Trans_ID = [gen_trans_id() for _ in range(num_records)]

Generate Region

In [277]:
Region= [random.choice(['Asia', 'Europe', 'Middle East', 
                        'North America']) for _ in range(num_records)]

Generate Product category

In [278]:
Product_category= [random.choice(['Electronics', 'Clothing', 'Furniture', 
                        'Automobile']) for _ in range(num_records)]

Generate Sales Date

In [279]:
from datetime import datetime, timedelta
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 10, 30)

In [280]:
def gen_random_date(start_date, end_date):
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    random_date = start_date + timedelta(days=random_days)
    random_date = random_date.strftime("%Y-%m-%d")
    return random_date

In [281]:
Sales_date = [gen_random_date(start_date, end_date) for _ in range(num_records)]

Generate Cust ID

In [282]:
def gen_cust_id():
    upper_chars = ''.join(random.choice(string.ascii_uppercase) for _ in range(2))
    digits = ''.join(random.choice(string.digits) for _ in range(6))
    customer_id = upper_chars + digits
    return customer_id

In [283]:
Cust_ID = [gen_cust_id() for _ in range(num_records)]

Generate Product ID

In [284]:
Product_ID = np.random.randint(10000, 20001, size=num_records)

Generate Product Name

In [285]:
Product_Name = [f'Product {i}' for i in np.random.randint(1, 21, size=num_records)]

Generate Product Quantity

In [286]:
Quantity= np.random.randint(1, 11, size=num_records)

Generate Product Unit Price

In [287]:
Unit_Price= np.random.uniform(10, 100, size=num_records).round(2)

Generate Discount

In [288]:
Discount= np.random.uniform(0, 0.3, size=num_records).round(2)

Generate Total Sales

In [289]:
Total_Sales= [0] * num_records

Create dictionary of these lists

In [290]:
data = {
    'Trans_ID': Trans_ID,
    'Region': Region,
    'Product_category' : Product_category,
    'Sales_date': Sales_date,
    'Cust_ID': Cust_ID,
    'Product_ID': Product_ID,
    'Product_Name': Product_Name,
    'Quantity': Quantity,
    'Unit_Price': Unit_Price,
    'Discount': Discount,
    'Total_Sales': Total_Sales
}

Calculates Total Sales using quan, unit price and discount

In [291]:
for i in range(num_records):
    data['Total_Sales'][i] = data['Quantity'][i]*(data['Unit_Price'][i]*(1 - data['Discount'][i]))

Create dataframe from dict

In [292]:
sales_df = pd.DataFrame(data)

In [293]:
sales_df

,Trans_ID,Region,Product_category,Sales_date,Cust_ID,Product_ID,Product_Name,Quantity,Unit_Price,Discount,Total_Sales
0,KGsoHiqWVara,Asia,Furniture,2023-07-11,CK323129,19054,Product 1,6,61.74,0.05,351.9180
1,kj2nKh14MYWB,Asia,Furniture,2023-07-03,WW030907,10037,Product 8,6,72.96,0.06,411.4944
2,VeY8VHbnwMeG,Europe,Furniture,2023-05-30,DB609859,16488,Product 8,7,76.53,0.28,385.7112
3,aIrplLM1ztyk,Asia,Electronics,2023-07-15,JY198747,18721,Product 9,2,87.84,0.09,159.8688
4,zFxrPhjmCJDE,North America,Clothing,2023-07-20,WT728547,12870,Product 5,7,31.25,0.07,203.4375
...,...,...,...,...,...,...,...,...,...,...,...
995,TaWrmSl488Br,North America,Automobile,2023-05-06,KI682288,13260,Product 4,10,89.20,0.18,731.4400
996,dYRxN5rCW4j3,Asia,Clothing,2023-02-12,MW829776,14947,Product 7,4,54.64,0.04,209.8176
997,ZdXr5k6IdgsK,Middle East,Furniture,2023-02-03,PZ927176,12424,Product 1,10,60.11,0.06,565.0340
998,ZlO6LsyxZ676,North America,Electronics,2023-06-15,HA303934,13891,Product 11,9,73.18,0.29,467.6202
999,Jt7lKi0QtLj8,North America,Furniture,2023-05-18,FG757740,16900,Product 7,6,62.11,0.16,313.0344

Save the Dataset

In [294]:
sales_df.to_csv("synthetic_sales_data.csv")